a { text-decoration: none;color:#454545; }
a:hover { text-decoration: none;color:#08C;transition:color .15s linear ,background-color .2s linear;-webkit-transition: color .15s linear , background-color .2s linear;}

.box{margin-bottom: 20px;}
.box .hd .title{font-weight:normal;}
.box .bd{margin-top:10px;}


#header{background:#000;}
#header .header-bd{height:70px;width:1000px;margin:0 auto;}
#header .title{float:left;font-size:44px;color:#eee;}

#content{background:#FFF;color:#454545;width:1000px;margin-top:20px;border:1px solid #efefef;}

.col-main{width:720px;padding:20px;}
.col-sub{width:200px;padding:20px;}

/* 侧边栏 */
.side-bar{}
.side-bar .box .hd{border-bottom:1px solid #eee;}
.side-bar .box .title{line-height:24px;}
.side-bar .recent li{margin-bottom:5px;}
.side-bar .archives li{margin-bottom:5px;}
.side-bar .tag li{float:left;padding:0 2px;}
.side-bar .tag li a{float:left;padding:2px 4px;}
.side-bar .tag li a:hover{border-radius: 4px;background-color: #3FA7CB;color:#fff;}

/* 文章列表 */
.article-list{}
.article-list li{border-bottom:1px dashed #ddd;padding-bottom:20px;margin-bottom: 20px;}
.article-list li .title{font-size:24px;font-weight:normal;}
.article-list li .publish{color: #999;}
.article-list li .bd{margin-top:15px;}

/* 文章详情 */
.article-detail{}
.article-detail .hd .title{font-size:24px;font-weight:normal;}
.article-detail .hd .publish{color: #999;}
.article-detail .bd{margin-top:15px;}

#footer{border-top:1px solid #efefef;width:1000px;margin-top:40px;padding-top:20px;}
#footer a{margin:0 10px;}
