<div class="layout">
    <div class="col-main">
        <ul class="article-list">
            <% for (var i = 0, l = article.length; i < l; i++) { %>
            <li>
                <div class="hd">
                    <h3 class="title"><a href="article/<%= article[i]._id %>" target="_blank"><%= article[i].title %></a></h3>
                    <p class="publish"><%= article[i].publishDate %></p>
                </div>
                <div class="bd">
                    <%= article[i].content %>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
    <div class="col-sub side-bar"><%- partial('sidebar') %></div>
</div>