<div class="box recent">
    <div class="hd">
        <h3 class="title">最新文章</h3>
    </div>
    <div class="bd">
        <ul>
            <% for (var i = 0, l = article.length; i < l; i++) { %>
            <li><a href="article/<%= article[i]._id %>" target="_blank"><%= article[i].title %></a></li>
            <% } %>
        </ul>
    </div>
</div>

<div class="box">
    <img src="/images/weibo.png" alt="">
</div>

<div class="box tag">
    <div class="hd">
        <h3 class="title">标签分类</h3>
    </div>
    <div class="bd">
        <ul class="taglist ks-clear">
            <li class="item"><span class="q-icon"></span></li>
            <li class="item"><a href="#">全部</a></li>
            <li class="item"><a href="#"><nobr>css</nobr></a></li>
            <li class="item"><a href="#"><nobr>java</nobr></a></li>
            <li class="item"><a href="#"><nobr>javascript</nobr></a></li>
            <li class="item"><a href="#"><nobr>html</nobr></a></li>
        </ul>
    </div>
</div>

<div class="box archives">
    <div class="hd">
        <h3 class="title">文章归档</h3>
    </div>
    <div class="bd">
        <ul>
            <li><a href="">2012年8月</a></li>
            <li><a href="">2012年7月</a></li>
            <li><a href="">2012年6月</a></li>
            <li><a href="">2012年5月</a></li>
            <li><a href="">2012年4月</a></li>
            <li><a href="">2012年3月</a></li>
            <li><a href="">2012年2月</a></li>
            <li><a href="">2012年1月</a></li>
            <li><a href="">2012年8月</a></li>
        </ul>
    </div>
</div>