<div class="header">
    <div class="ai-logo">
        <div class="logo">
            <p class="iconfont ai-icon">&#61539;</p>
            <p class="small"><em class="iconfont tb-icon">&#512;</em>购物分享平台</p>
        </div>
        <div class="center">
            <h1>开发者中心</h1>
        </div>
    </div>
    <div class="login">
        <ul>
            <li class="menu-top-hello">你好，</li>
            <li style="padding-left:0;">{{nick}}</li>
            <li><a href="{{logoutUrl}}">退出</a></li>
        </ul>
    </div>
    <div class="site-nav">
        <ul class="quick-menu">
            <li><a href="/sitemanager/aitaobao/index.htm?bizType=14">首页</a></li>
            <li class="selected"><a href="#">我的站点</a></li>
            <li><a href="/sitemanager/aitaobao/help.htm?bizType=14">帮助文档</a></li>
            <li><a href="http://jae.taobao.com/jaedocs/docs.html" target="_blank">技术支持</a></li>
        </ul>
    </div>
</div>