<div class="sidebar" id="sidebar" bx-name="sidenav" bx-path="components/sidenav/" bx-config="{
    navTop: 117,
    index: '#!/manage/item/items',
    pathMap: {
        '#!/manage/item/item_promo': '#!/manage/item/items'
    }
}">
    <ul class="nav">
        <li><a href="/sitemanager/manage/mysite.htm?bizType={{bizType}}" hidefocus="true">我的站点</a></li>
        <li><a href="http://jae.cloud.taobao.com/ide/i.html?u={{u}}" target="_blank" hidefocus="true">应用管理</a></li>
        <li><a href="/sitemanager/manage/managenav.htm?bizType={{bizType}}" hidefocus="true">导航设置</a></li>
        <li><a href="#!/manage/item/items" hidefocus="true">内容管理</a></li>
        <li><a href="#!/manage/report/reports" hidefocus="true">数据服务</a></li>
        <li><a href="#!/manage/media/medias" hidefocus="true">文件服务</a></li>
        <li><a href="#!/manage/jifen/my" hidefocus="true">积分管理</a></li>
    </ul>
</div>