h1= title
p Welcome to #{title}	
form(action='/newsinsert',method="post")
	p 
		input(name='newstitle',type="input",placeholder="请输入新闻名称")
	p 
		input(name='newssource',type="input",placeholder="请输入新闻来源")
	p
		textarea(name="newscontent",placeholder="请输入新闻内容")
	p
		input(type="submit",value="提交")